.hidden{
    display:none;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center ;
}

#main-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 40px;
    margin: 10px;
    margin-top: 100px;
    background: -webkit-linear-gradient(rgba(38, 102, 240, 0.829), rgba(210, 36, 233, 0.623));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#description{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(49, 128, 231);
    font-size: 18px;
    margin-bottom: 40px;
}

#equipment{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 30px;
    color: rgba(128, 128, 128, 0.657);
}

#filters{
display:flex;
flex-direction: column;
justify-content: center;
}

.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    border: 1px solid violet;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
}

.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    color:cornflowerblue;
}

.option{
    display:flex;
    font-size: 24px;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid rgba(129, 171, 248, 0.904);
    background-image: linear-gradient(to bottom right, rgba(99, 146, 248, 0.856), rgb(192, 123, 191));
    padding: 10px;
    width:100px;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.541);
    color:white;
}

.option:hover{
    background-image: linear-gradient(to bottom right, rgb(27, 88, 219), rgb(223, 30, 219));
}