.hidden{
    display:none;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

#tit{
    background-color: rgba(55, 238, 255, 0.185);
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: 40px;
    margin: 10px;
    margin-top: 50px;
    background: -webkit-linear-gradient(rgba(38, 102, 240, 0.829), rgba(210, 36, 233, 0.623));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#logo{
    font-size: 30px;
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(rgb(102, 147, 245), rgb(225, 112, 240));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#description{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(49, 128, 231);
    font-size: 18px;
    margin-bottom: 50px;
}

#equipment{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: rgba(128, 128, 128, 0.657);
    display: flex;
    justify-content: center;
}

.filtersShow{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    border: 1px solid violet;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 12px;
    width:700px;
    background-color: rgba(96, 186, 239, 0.044);
}

.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    color:rgb(60, 103, 184);
}

.option{
    display:flex;
    font-size: 20px;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid rgba(129, 171, 248, 0.904);
    padding: 10px;
    width:100px;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(31, 7, 87, 0.411);
    color:white;
}

.gradient{
    background-image: linear-gradient(to bottom right, rgba(99, 146, 248, 0.856), rgb(192, 123, 191));
}

.gradientClicked{
    background-image: linear-gradient(to bottom right, rgb(27, 88, 219), rgb(223, 30, 219));
}

.option:hover{
    background-image: linear-gradient(to bottom right, rgb(27, 88, 219), rgb(223, 30, 219));
}

.find{
    /* display: flex;
    justify-content: center; */
    width:700px;
    display:center
}

#find{
    margin-top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
    background-image: linear-gradient(to bottom right, rgb(0, 44, 139), rgba(128, 1, 125, 0.767));
}

#find:hover{
    background-image: linear-gradient(to bottom right, rgb(0, 62, 218), rgba(133, 0, 130, 0.767));
}


#player{
    display: flex;
    justify-content: center;
    align-items: center;
}


#header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 4, 82);
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:40px;
}
a{
    font-size: 18px;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:white
}

a:hover{
    color: rgb(235, 126, 235);
}

.showed{
    height:1000px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-to-option{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:rgba(255, 15, 199, 0.345);
    margin-bottom: 10px;
}

#info{
    font-size: 40px;
    font-weight: bold;
    color:rgb(98, 98, 240);
    margin-top: 20px;
}







#j-title{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color:rgb(15, 9, 128)
}






#journal{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}




.j{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:20px; */
    border-bottom: 1px solid rgba(6, 6, 251, 0.14);
    color: rgb(16, 9, 140);
}
.s{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:20px; */
    border-bottom: 1px solid rgba(6, 6, 251, 0.14);
    color: rgb(16, 9, 140);
}

.j *{
    flex:1;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.s *{
    flex:1;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

#li{
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;
    margin-right: 20px;
}

#row{
    
    padding-bottom:20px;
    padding-top: 30px;
    border-bottom: 1px solid rgba(6, 6, 251, 0.14);
    color: rgb(128, 128, 152);
    font-style:italic;
    font-size: 18px;
}

#favorites{
    display: flex;
    margin-bottom: 20px;
}


img{
    width:30px;
}

.biggerDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:20px;
    text-align: center;
    font-size: 20px;
    color: rgb(16, 9, 140);
}

.biggerDiv *{
    flex:1;
}

#saved{
    width:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my{
    display:flex;
    align-self: center;
    width:400px;
    height:280px;
}

/* #saved{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
} */

@media only screen and (max-width: 700px) {
    .option{
        font-size:15px;
        padding:5px;
        width:80px;
        margin:5px
    }
    .filters{
        flex-direction: column;
    }
    .title{
        font-size: 22px;
    }
    .filter{
        width: 300px;
    }
    #filters{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #find{
        width:300px;
        font-size:15px;
    }
    #title{
        font-size:28px;
    }
    #description{
        font-size: 12px;
    }
    #equipment{
        font-size:10px;
    }
    #logo{
        font-size: 18px;
        margin-left: 20px;
    }
    a{
        font-size: 14px;
        padding-right: 5px;
    }
    #menu{
        margin-right: 10px;
    }

    #j-title{
        font-size: 20px;
    }
    .j *{
        font-size: 14px;
    }
    .s *{
        font-size: 14px;
    }
    #info{
    font-size:24px
    }
    #save{
        font-size:15px;
    }
    img{
        width:25px;
    }
    #back-to-option{
        font-size:14px;
    }
    iframe{
        width:400px;
        height:220px;
    }
    .my{
        margin-left: 0px;
        margin-right: 10px;
        width:280px;
        height:150px;

    }
    .biggerDiv{
        font-size:15px;
    }
    .showed{
        align-items: center;
    }
    #saved{
        width:600px;
    }
}